body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

#popup p {
    font-size: 16px;
    color: #666;
}

#closePopup {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#closePopup:hover {
    background-color: #555;
}

#videoPlayer {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

#videoPlayer iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    border: 2px solid #007BFF;
}

#videoList {
    width: 100%;
    max-width: 800px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}

#videoList button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#videoList button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#videoList button:active {
    transform: translateY(1px);
}
